.div2{
    background-color: gray;
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    color: white;
    background-color: black;
}
.div3{
    color: white;
    background-color: black;
}